.members {
	width: 100%;
	float: left;
}
.name {
	width:40%;
	height: 80px;
	background-color: gray;
	display: flex;
	float: left;
}
.person {
	width: 100%;
	height: 80px;
	background-color: green;
	float: left;
	display: inline;
}
.jobs {
	width: 20%;
	float: left;
	height: 80px;
	background-color: red;
}
.jobs{
	display: flex;
}
.jobs {
	/*margin: 0;*/
	margin: auto;
}
.name a {
	margin: auto;
}
.Surname {
	width: 40%;
	height: 80px;
	background-color: blue;
	display: flex;
	float: left;
}
.Surname a {
	margin: auto;
}
.jobs p {
	margin: auto;
}