/*div {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}*/
.closer{
	clear: both;
}
.align{
	display: flex;
}
.palign{
	display: inline-block;
	margin: auto 0;
	margin-right: 5px;
}
.align textarea{
	display: inline-block;
}
body {
	margin: 0;
}
[name="memberstask"]{
	display: inline-block;
}

#Head {
	width: 100%;
	height: 68px;
	position: fixed;
/*	background-color: red;*/
	/*background-image: url(back.jpg);*/
	top: 0;
	left: 0;
	z-index: 10;
	border-bottom: solid 2px #AAAAAA;
}

#Logo {
	width: 69%; 
	height: 68px;
	float: left;
	position: fixed;
	background-color: white;
	line-height: 68px;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: 10;
}

#authorization {
	width: 31%;
	height: 68px;
	float: left;
	position: fixed;
	background-color: white;
	display: inline-block;
	left: 931px;
	z-index: 10;
	border-left: solid 2px #AAAAAA;
}

#leftbar {
	width: 17%;
	height: 592px;
	position: fixed;
	float: left;
	top: 70px;
	left: 0;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #AAAAAA;
	z-index: 10;
	/*border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AAAAAA;*/
/*	background-color: green;*/
}

#logotip {
	margin: 0;
	vertical-align: middle;
	text-align: center;
}

#maininfo {
	float: left;
	width: 82%;
	height: 500px;
	/*background-color: pink;*/
	position: absolute;
	top: 69px;
	left: 230px;
}


#leftbar a div{
	border-bottom: 3px solid #999;
	width: 100%;
	height: 70px;
	background-color: white;
	vertical-align: middle;
	display: flex;
}

#leftbar a:hover div{
	background-color: yellow;
}

#leftbar a{
	text-decoration: none;
}

#pole{
	margin: 0 20px;
}

#leftbar a div p{
	color: blue;
	font-size: 18pt;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
#maininfo form{
	padding-top: 10px;
	padding-left: 20px;
}
#maininfo form input, #maininfo form select, #maininfo form textarea{
	margin-bottom: 5px;
}
#projectview{
	width: 95%;
	min-height: 90px;
/*	background-color: red;*/
	padding: 7px;
	margin: 10px;
}

.project_footer {
	height: 30px;
}

.task{
	margin-left: 70px;
	width: 91%;
	height: 59px;
	/*background-color: blue;*/
	border: 4px solid #999;
	padding: 10px;
	border-radius: 35px;
	margin-bottom: -4px;
}
.onemember{
	margin-left: 70px;
	height: 59px;
	border: 4px solid #999;
	padding: 10px;
	border-radius: 35px;
	margin-bottom: -4px;
	line-height: 59px;
}
.task div{
	font-size: 12pt;
	font-family: Tahoma;
}
.onemember span, .onemember span a{
	font-size: 14pt;
	font-family: Tahoma;
	padding: 4px;
	text-decoration: none;
}
.task div{
	padding: 4px;
}

.projectname{
	color: #373737;
}
#projectview #description{
	width: 95%;
	font-size: 13pt;
	font-family: Tahoma;
	padding: 5px;
}

#filterlist{
	width: 100%;
	height: 40px;
/*	background-color: green;*/
}
.project{
	border-bottom: solid 2px #AAAAAA;
}
.leftbar_of_project{
	float: left;
	width: 92%;
/*	background-color: blue;*/
}
.status{
	float: left;
	width: 5%;
/*	background-color: red;*/
}
.chief{
	width: 46%;
	float: left;
/*	background-color: yellow;*/
}
.deadline{
	width: 46%;
	float: left;
/*	background-color: gray;*/
}
.chief a{
	text-decoration: none;
	margin-left: 10px;
}
.project div{
	padding: 5px;
}
.description{
	color: #585858;
}


.project div{
	font-size: 14pt;
	font-family: Tahoma;
}
#projectview div{
	font-size: 18pt;
	font-family: Tahoma;
}


.projectname a{
	text-decoration: none;
	color: #888;
}
.projectname{

}

/**************************************************************************/
/*FOR MEMBERSLIST AND MEMBER */
/**************************************************************************/

.members {
	width: 100%;
	float: left;
}
.name {
	width:40%;
	height: 80px;
	background-color: gray;
	display: flex;
	float: left;
}
.person {
	width: 100%;
	height: 80px;
	background-color: green;
	float: left;
	display: inline;
}
.jobs {
	width: 20%;
	float: left;
	height: 80px;
	background-color: red;
	display: flex;
	/*margin: 0;*/
	margin: auto;
}
.name a {
	margin: auto;
}
.Surname {
	width: 40%;
	height: 80px;
	background-color: blue;
	display: flex;
	float: left;
}
.Surname a {
	margin: auto;
}
.jobs p {
	margin: auto;
}

.personka {
	width: 100%;
	height: 380px;
	display: block;
	/*background-color: red;*/
}
.avatar {
	width: 20%;
	height: 180px;
	float: left;
	/*background-color: yellow;*/
}
.textinfo {
	width: 80%;
	height: 180px;
	float: left; 
	/*background-color: orange;*/
}
.imechko {
	width: 100%;
	height: 60px;
	float: left;
	/*background-color: purple;*/
}
.member_status {
	width: 100%;
	height: 60px;
	float: left;
	/*background-color: red;*/
}
.rabotka {
	width: 100%;
	height: 60px;
	float: left;
	/*background-color: */
}
.aboutyou {
	width: 100%;
	height: 200px;
	/*background-color: blue;*/
}
.topinfo {
	width: 100%;
	height: 180px;
}